* {
padding:0;
margin:0;
}
body{
   background-image: url(css/grfx/bg.png);
   background-repeat: repeat-x;
   font-family: sans-serif;
   font-size: 125%;
}

h2 {
padding-top: 20px;
padding-bottom: 20px;

}
header {
    background:white;
    background-image: url(css/grfx/header.jpg);
    background-repeat:no-repeat;
    width: 800px;
    border: 25px;
    padding-left: 5px;
    padding-right: 5px; 
    margin: 0px auto;
    text-align: left; 
    height: 268px;
    background-size: cover;
    position:relative;

}


nav ul li {
	display: inline-block;

} 

nav {
	position: absolute;
	bottom: 20px;

}
nav a {
	list-style-type:none;
	text-decoration:none;
	font-size: 20px;
	padding: 10px;
	color:white;
}

nav a:links {
	color: white;
	background-color: transparent;
	}

nav a:hover {
color: #2196f3;
background-color: red;
}

img.topLeft{
float: left;
padding-right: 10px;
}
   
main {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	height: auto;
	padding-left: 10px;
	vertical-align: top;
}

img.middleright{
float: right;
padding-right: 10px;
padding-bottom: 10px;
padding-top: -5px;
padding-left: -5px;
}

img.bottomleft{
float: left;
padding-right: 10px;
padding-bottom: 10px;
padding-top: -5px;
padding-left: -5px;

}

img.topmiddle{
float: left;
padding-right: 10px;
padding-bottom: 10px;
padding-top: -5px;
padding-left: -5px;
}

img.bottomright{
float: right;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 10px;
}

img.bottommiddle{
float: left;
padding-right: 10px;
padding-bottom: 10px;
padding-top: -5px;
padding-left: -5px;
}

img.bottomleft{
float: left;
padding-right: 20px;
padding-bottom: 20px;
padding-top: -5px;
padding-left: -5px;
}

img.topright{
float: right;
padding-right: 10px;
padding-bottom: 10px;
padding-top: -5px;
padding-left: -5px;